.top-menu-wrap_outer {
    width: 100%;
    background-color: #fff;
}
.top-menu-wrap {
    max-width: 1200px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    img {
        height: 60px;
        margin-top: -10px;
        cursor: pointer;
    }
    .menu-ul {
        flex: 1;
        margin-left: 60px;
        display: flex;
        align-items: center;
        .menu-li {
            a {
                color: #666;
            }
        }
    }
}
